
.container-theater {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(31, 31, 41);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 150px;
    padding-right: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgb(165, 43, 84);
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #0e263f;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.table a.btn-primary {
    background-color: #265383;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.table a.btn-primary:hover {
    background-color: #0d2641;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn-info {
    background-color: #17a2b8;
}

.table a.btn-danger {
    background-color: #da1226;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.table a.btn-danger:hover{
    background-color: #88020f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.9;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: white;
    
}

.table th {
    background-color: rgba(165, 43, 84, 0.2);

     color: white;
}
.table td:hover{
    background-color: #474246;
    color: white;
   
}


.table img {
    max-width: 50px;
    height: auto;
    border-radius: 4px;
}




.btn-add{
    background-color: #fff;
    border: 1px solid #bc2a8d;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
  }
  
  .btn-add:hover{
    background-color: #bc2a8d;
    color: white;
  }