/* General Styles */
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(31, 31, 41);
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #bc2a8d;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #892140;
}

input[type="submit"]:focus {
    outline: none;
}

/* Thank you message */
.thank-you-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

/* Responsive */
@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}
